langchain
langchain-core
langchain-community

langgraph

langchain-mistralai

tavily-python

beautifulsoup4
lxml

requests

python-dotenv

pydantic

ipython
jupyter

rich

streamlit

typing-extensions